In [5]:
'a'+'b'

'ab'

In [6]:
4//4 # dzielenie z użyciem floor

1

In [7]:
def odd (number):
    return number % 2 != 0

In [22]:
odd(4)

False

In [9]:
def odd (number):
    return True if number % 2 else False

In [10]:
def odd (number):
    return True if number % 2 else False

In [11]:
odd(1)

True

In [12]:
def factorial (n):
    if  n >1:
        return n * factorial (n-1)
    else: 
        return 1

In [13]:
factorial (5)

120

In [14]:
def factorial (n):
    if  n >1:
        return n * factorial (n-1)
    return 1

In [15]:
factorial (5)

120

In [16]:
def factorial (n):
    return n * factorial(n-1) if n > 1 else 1

In [17]:
factorial (5)

120

In [18]:
def factorial (n):
    if not isinstance(n, int):
        raise TypeError
    if n < 0:
        raise ValueError
    return n * factorial(n-1) if n else 1

In [19]:
factorial (5)

120

In [20]:
def factorial (n):
    product = 1
    while n > 1:
        product = product * n
        n = n-1
    return product

In [24]:
factorial (100.)

9.332621544394418e+157

In [25]:
import math

In [26]:
math.factorial(9)

362880

In [27]:
math

In [28]:
from math import factorial as fak

In [29]:
fak

In [30]:
name = 'All'
alias = name
del name

In [31]:
alias

'All'

In [32]:
from math import factorial as fak

In [33]:
#dwumian
def binominal (n, k):
    '''Compute binominal '''
    product = 1
    for i in range (k):
        product *= (n-i)
        product //= (i+1)
    return product

In [39]:
binominal(3,2)

3

In [40]:
help(binominal)

Help on function binominal in module __main__:

binominal(n, k)
    Compute binominal

In [46]:
#petla (poczatek zakresu, koniec zakresu, co ile)
for x in range(2, 10, 2):
    print (x)

2
4
6
8

In [47]:
def pascal_triangle (order):
    for n in range(order+1):
        for k in range(n+1):
            print(binominal(n,k), end = ' ')
        print()

In [48]:
pascal_triangle(10)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1
1 10 45 120 210 252 210 120 45 10 1

In [49]:
str(binominal (50, 20))

'47129212243960'

In [50]:
######################################SEND##############################

In [51]:
'abc'.upper()

'ABC'

In [52]:
'The answer is {}, {}'.format(42, 24)

'The answer is 42, 24'

In [53]:
'|{:6}|'.format(42)

'|    42|'

In [54]:
'|{:>6}|'.format('abc')

'|   abc|'

In [55]:
'|{:^7}|'.format('abc')

'|  abc  |'

In [56]:
'|{:<6}|'.format('abc')

'|abc   |'

In [57]:
def print_triangle (order, fn):
    max_width = len(str(fn(order, order //2)))
    
    for n in range(order+1):
        for k in range(n+1):
            print('{:{}}'.format(fn(n,k), max_width), end = ' ')
        print()

In [58]:
print_triangle(15, binominal)

   1
   1    1
   1    2    1
   1    3    3    1
   1    4    6    4    1
   1    5   10   10    5    1
   1    6   15   20   15    6    1
   1    7   21   35   35   21    7    1
   1    8   28   56   70   56   28    8    1
   1    9   36   84  126  126   84   36    9    1
   1   10   45  120  210  252  210  120   45   10    1
   1   11   55  165  330  462  462  330  165   55   11    1
   1   12   66  220  495  792  924  792  495  220   66   12    1
   1   13   78  286  715 1287 1716 1716 1287  715  286   78   13    1
   1   14   91  364 1001 2002 3003 3432 3003 2002 1001  364   91   14    1
   1   15  105  455 1365 3003 5005 6435 6435 5005 3003 1365  455  105   15    1

In [59]:
def star(a,b):
    return '*'

In [60]:
print_triangle(10, star)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *

In [61]:
print_triangle(30, lambda x, v: 'o' if odd(binominal(x, v)) else ' ')

o
o o
o   o
o o o o
o       o
o o     o o
o   o   o   o
o o o o o o o o
o               o
o o             o o
o   o           o   o
o o o o         o o o o
o       o       o       o
o o     o o     o o     o o
o   o   o   o   o   o   o   o
o o o o o o o o o o o o o o o o
o                               o
o o                             o o
o   o                           o   o
o o o o                         o o o o
o       o                       o       o
o o     o o                     o o     o o
o   o   o   o                   o   o   o   o
o o o o o o o o                 o o o o o o o o
o               o               o               o
o o             o o             o o             o o
o   o           o   o           o   o           o   o
o o o o         o o o o         o o o o         o o o o
o       o       o       o       o       o       o       o
o o     o o     o o     o o     o o     o o     o o     o o
o   o   o   o   o   o   o   o   o   o   o   o   o   o   o   o

In [62]:
pair = 1 ,2 # tuple/ krotka

In [63]:
pair

(1, 2)

In [64]:
single = 1,

In [65]:
single

(1,)

In [66]:
tripple = 1, 'a', False # krotka to niemutowalna lista, mogą być różne typy

In [67]:
tripple

(1, 'a', False)

In [68]:
print (1,2,3) # to nie krotka tylko przekazanie argumentów do printa

1 2 3

In [69]:
print((1,2,3)) # tu już jest krotka

(1, 2, 3)

In [70]:
one, two = pair # tuple unpacking

In [71]:
plus, minus, star = '+', '-', '*'

In [72]:
minus

'-'

In [73]:
plus, minus, star = '+-*' # na stringu też działa tylko ilość elementów musi się zgadzać

In [74]:
star

'*'

In [75]:
three, four, five = range (3, 6)

In [76]:
five

5

In [77]:
print(*range(10)) # * wypakowuje, przekazuje wartości jako kolejne parametry (tu do funkcji print)

0 1 2 3 4 5 6 7 8 9

In [78]:
def axes (): # generator używany jest dopiero na życzenie i są jednorazowego użytku. Są 3 możliwości jego eksploatacji
    yield 'x'
    yield 'y'
    yield 'z'

In [79]:
print(*axes()) #1

x y z

In [80]:
for ax in axes(): #2
    print(ax)

x
y
z

In [81]:
next(axes()) #3

'x'

In [82]:
seq = axes() # tworzy nowy świerzy generator

In [83]:
next(seq)

'x'

In [84]:
seq = axes()  # ilustarcja wyczerpania generatora
print('Fresh:', *seq)
print('Used:', *seq)

Fresh: x y z
Used:

In [85]:
seq = tuple(axes()) # zmiana generatora w krotkę

In [86]:
seq

('x', 'y', 'z')

In [87]:
zip()   # splata ze sobą dowolną ilość sekwencji 
        #(z karzdych sekwencji będą wybierane pasujące do siebie elementy i powstaną krotki)
        #zip to też generator
        # działa do momentu skończenia się jednej z sekwencji

In [88]:
print(*zip((1,2,3),
           ('a','b','c'),
           range(11,20),
           axes()))

(1, 'a', 11, 'x') (2, 'b', 12, 'y') (3, 'c', 13, 'z')

In [89]:
quads =zip((1,2,3),
           ('a','b','c'),
           range(11,20),
           axes())

In [90]:
next(quads) # axes() czeka w zawieszeniu po wyemitowaniu x tak jak całe quads

(1, 'a', 11, 'x')